
@model ViewModels.SendVerifierViewModels
@{
    ViewData["Title"] = "SendVerifier";
    string VerifierCode = ViewData["Verifier"] as string;
    string Message = ViewData["message"] as string;
    Layout = "_LayoutSolid";
}


<style>
</style>
<hr />

<div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">

        <div class="card">
            <div class="card-header titlemain">
                ثبت نام
            </div>
            <div class="card-body">

                <form asp-action="SendVerifier">
                    <div class='form-group row'>
                        <label asp-for="Mobile" class="control-label col-sm-2"></label>
                        <div class='col-sm-8'>
                            <input asp-for="Mobile" class="form-control" placeholder="نمونه:09124881649" />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                    </div>
                    @if (VerifierCode != null)
                    {
                        <div class='form-group row'>
                            <label class="control-label col-sm-2">شماره تایید</label>
                            <div class='col-sm-8'>
                                <input class="form-control" id="VerifierCode" name="VerifierCode" />
                            </div>
                        </div>
                        if (Message != null)
                        {
                            <div class='form-group row'>
                                <label class=" col-sm-2"></label>
                                <div class='col-sm-8'>
                                    <label style="color:orangered">@Message</label>
                                </div>
                            </div>
                        }

                    }

                    <div class='form-group row'>
                        <label class="control-label col-sm-2"></label>
                        <div class='col-sm-8'>
                            <input type="submit" value="ارسال" class="btn btn-primary btn-block" style="height:30px;font-size:12px" />
                        </div>
                    </div>




                </form>

            </div>
        </div>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


